<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.annon.flutter_mapbox_turn_by_turn">
  <application>
    <activity
        android:exported="true"
        android:name="au.com.annon.flutter_mapbox_turn_by_turn.activity.TurnByTurnActivity" />
  </application>

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
