<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.annon.flutter_mapbox_turn_by_turn">

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".ui.TurnByTurnActivity" />
    </application>
</manifest>
